* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  background-position: center;
  background-image: url(../img/corredor.jpg);
  background-size: cover;
  width: auto;
  height: 700px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.493);
  background-blend-mode: overlay;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.sec2 {
  background-image: url(../img/vecina.jpg);
  background-color: rgba(0, 0, 0, 0.911);
}
.hero {
  padding: 10px;
  width: 80%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.774);
  box-shadow: 2px -2px 75px 40px rgba(0, 0, 0, 0.93);
  -webkit-box-shadow: 2px -2px 75px 40px rgba(0, 0, 0, 0.93);
  -moz-box-shadow: 2px -2px 75px 40px rgba(0, 0, 0, 0.93);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

.hero p {
  font-size: 0.6em;
}

.desc {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  background-color: #000000ab;
  height: auto;
}

.desc img {
  width: 200px;
}

.descText {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px 0;
}

.descText h3 {
  padding: 20px;
}
.descText p {
  font-size: 0.8em;
  padding: 10px;
}

button {
  background-color: #090125;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

button:hover {
  transform: scale(110%);
  transition: 0.7s;
  box-shadow: 1px -1px 5px 5px rgba(0, 0, 0, 0.185);
  -webkit-box-shadow: 1px -1px 5px 5px rgba(0, 0, 0, 0.185);
  -moz-box-shadow: 1px -1px 5px 5px rgba(0, 0, 0, 0.185);
}

.dashboard {
  height: 100vh;
}

.commBox {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 70%;
  justify-content: center;
  align-items: left;  
  font-size: 1.6em;
}

/* GRID DE CASO 305 */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    "testigo informe expediente"
    "texto texto texto"
    "texto texto texto";
width: 90%;
}

.testigo {
  grid-area: testigo;
  background-color: #000000ab;
  padding: 10px;
  display: flex;  
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.informe {
  grid-area: informe;
  background-color: #000000ab;
  padding: 10px;
  display: flex;  
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.expediente {
  grid-area: expediente;
  background-color: #000000ab;
  padding: 10px;
  display: flex;  
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.texto {
  grid-area: texto;
  background-color: rgb(0, 0, 0);
  height: 300px;  
  padding: 10px;
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(208, 241, 158);
  font-size: 0.8em;
}

/* Seccion Expedientes */
.sec3 {
  display: flex;
  flex-direction: row;  
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.705);
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.formBusqueda {  
  height: 300px;
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: antiquewhite;
  background-color: rgba(0, 0, 0, 0.712);
  font-size: 22px;
}

.fields {
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(69, 158, 69);
  width: 300px;
}

.formButton {
  width: 150px;
  background-color: rgb(0, 15, 4);
  border: none;
  padding: 10px;
  color: white;
  margin: 10px 0;
  font-size: 18px;
}

.resultExp {  
  height: 500px;
  width: 50%;
  display: flex;
  padding: 10px;  
  justify-content: space-around;
  align-items: center;
  background-color: rgba(250, 235, 215, 0.733);
  text-align: left;
  font-size: 22px;
}

.dossier {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
}

.dossier h3 {
  padding: 20px;
}

.dossier strong {
  padding: 5px;
}
.resultExp h3 {
  text-align: center;
  font-weight: 900;
}

.resultExp p {
  color: gray;
  font-style: italic;
}

.resultExp p strong {
  color: black;
  font-style: normal;
}

/* Estilos del dossier */
.sec4 {
  display: flex;
  flex-direction: column;  ;  
}

.sec4 h3 {
  color: white;
}

.contenedor{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  
}

.card {
  background-color: rgba(255, 255, 255, 0.11);
  padding: 10px;
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: row-reverse;  
  margin: 10px;
  border-radius: 10px;
  
}

.card-image {
  width: 40%;  
  display: flex;
  justify-content: right;
}

.card-content {
  padding: 10px;
  background-color: rgba(170, 216, 176, 0.781);
  width: 60%;
  font-size: 0.7em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
}

.card-content span {
  font-weight: bolder;
}
